@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d9d9d9;
}

#root {
  position: relative;
  scroll-behavior: smooth;
 }

.outer-wrap {
  max-width: 1400px;
  overflow-x: hidden;
  margin: 0 auto;
  box-shadow: 0px 0px 45px -14px #0e0e27;
}

.white:hover svg path {
  fill: white;
}

.li:hover svg path {
  fill: #7ebc59;
}

.schema-active {
  background-color: rgba(241, 158, 2, 0.3);
}

.schema-block a:hover {
  filter: brightness(150%);
}

.query-block-enter,
.headers-block-enter {
  animation: show-from-bottom 0.5s forwards;
}

.query-block-enter-active,
.headers-block-enter-active {
  animation: show-from-bottom 0.5s forwards;
}

.query-block-exit-active,
.headers-block-exit-active {
  animation: show-from-bottom 0.5s reverse;
}

.query-block-exit,
.headers-block-exit {
  transform: translateY(200px);
  animation: show-from-bottom 0.6s reverse;
}

.schema-block-enter {
  animation: show-from-right 0.5s forwards;
}

.schema-block-enter-active {
  animation: show-from-right 0.5s forwards;
}

.schema-block-exit-active {
  animation: show-from-right 0.5s reverse;
}

.schema-block-exit {
  transform: translateX(200px);
  animation: show-from-right 0.6s reverse;
}

@media (max-width: 640px) {
  .schema-block-enter {
    animation: show-from-left 0.5s forwards;
  }

  .schema-block-enter-active {
    animation: show-from-left 0.5s forwards;
  }

  .schema-block-exit-active {
    animation: show-from-left 0.5s reverse;
  }
  .schema-block-exit {
    transform: translateX(-200px);
    animation: show-from-left 0.6s reverse;
  }

  .query-block-enter {
    animation: show-from-left 0.5s forwards;
  }

  .query-block-enter-active {
    animation: show-from-left 0.5s forwards;
  }

  .query-block-exit-active {
    animation: show-from-left 0.5s reverse;
  }

  .query-block-exit {
    transform: translateX(-200px);
    animation: show-from-left.6s reverse;
  }
  .burger-menu {
    animation: show-from-right 0.5s forwards;
  }
}

@keyframes show-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes show-from-right {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes show-from-left {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }

  .response:hover .scrollbar::-webkit-scrollbar-thumb {
    background: #494953;
  }

  .desc:hover.scrollbar::-webkit-scrollbar-thumb {
    background: #ededff;
  }

  .schema:hover.scrollbar::-webkit-scrollbar-thumb {
    background: #d9d9d9;
  }
}

.non-null::after {
  content: '!';
}

.page {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0e0e27;
} 
.page-bg {
  position: absolute;
  top: 0;
  z-index: 0;
  height: 50vh;
  width: 100vw;
  background-color: #d9d9d9;
}
.page-block {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-top: 2.5rem;
  height: 500px;
  width: 100vw;
}
.page-block-content {
  margin: 0 1.25rem;
  display: flex;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  background-position: left;
  background-repeat: no-repeat;
  color: #0e0e27;
}
.page-block-header {
  text-align: center;
}
.page-block-h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.page-block-h2 {
  margin-top: 1rem;
  font-family: Inria Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
}
.page-block-content {
  align-items: flex-end;
  background-image: none;
}
.page-block-btn {
  margin-top: 2.5rem;
  text-align: center;
}
@media (min-width: 640px) {
  .page-block-content {
    align-items: flex-end;
    background-image: url('./bg_404.png');
    background-size: 500px 300px;
  }
  .page-block-header {
    margin-right: 5rem;
  }
  .page-block-btn {
    margin-right: 4rem;
  }
}
@media (min-width: 768px) {
  .page-block {
    margin-top: 50vh;
    transform: translateY(-50%);
  }
  .page-block-content {
    background-size: 600px 400px;
  }
  .page-block-h1 {
    font-size: 4.5rem;
    line-height: 1;
  }

}
@media (min-width: 1000px) {
  .page-block {
    width: 1000px;
  }
  .page-block-content {
    background-size: 700px 450px;
  }
  .page-block-h1 {
    font-size: 6rem;
    line-height: 1;
  }
  .page-block-h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .page-block-btn {
    margin-right: 5.5rem;
  }
}
@media (min-width: 1280px) {
  .page-block {
    height: 600px;
  }
  .page-block-btn {
    margin-right: 5rem;
  }
}

